/* General Styles */
body {
    background-color: #FFD1DC;
    font-family: 'Cormorant Garamond', serif;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Dancing Script', cursive;
    font-size: 17px;
    background-color: #FFB6C1;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    text-align: center;
    padding: 20px;
}

footer a[target="_blank"] {
    color: #FFB6C1;
    text-decoration: underline;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #100d0f;
}

#main-navbar {
    background-color: #FFB6C1;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#main-navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

#main-navbar ul li a:hover {
    background-color: #FFA1B3;
    border-radius: 5px;
}

/* Main content and sidebar styles */
.main-container {
    display: flex;
    margin-top: 20px;
}

.main-container h2 {
    color: #FFFFFF;
    background-color: #f8a6b2db;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column {
    flex: 1;
    padding: 20px;
}

/* Blog post styles */
.blog-post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.blog-post h3 {
    margin-top: 0;
}

.author {
    font-style: italic;
}

.blog-post img {
    float: right; /* Float the image to the right */
    margin-left: 20px;
    width: 50%; /* Adjust the size as necessary */
}

.blog-post figcaption {
    text-align: center;
}



/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #FFB6C1;
    color: white;
}

/* Form styles */
form {
    margin-top: 20px;
    text-align: center;
}

form label {
    margin-right: 10px;
}

form button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #FFB6C1;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #FFA1B3;
}


/* Contact Page Styles */
.contact-page label {
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
    padding-bottom: 10px;
}

.contact-page button {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 10px;
}


/* About Page Styles */
.about-page main {
    margin: 30px;
}

.about-page img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #ffffff;
    padding: 5px;
    box-shadow: 5px 5px 15px rgba(104, 23, 203, 0.4);
    border-radius: 5px;
    transition: transform 0.2s ease;
}