/* Common Styles */
body {
    background-color: #FFD1DC;
    font-family: 'Cormorant Garamond', serif;
    color: #333;
    line-height: 1.5;
    border-radius: 10px solid #30d0d0;
}

header {
    font-family: 'Dancing Script', cursive;
    background-color: #FFB6C1;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

nav a:hover {
    color: #FF69B4;
}

/* Index Page Styles */
.blog-post {
    margin-bottom: 20px;
}

.blog-post img {
    max-width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px double #df5c65;
    padding: 5px;
    box-shadow: 5px 5px 15px rgba(104, 23, 203, 0.3);
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.blog-post img:hover {
    transform: scale(1.05);
}

h2::before {
    content: "→ ";
    padding-right: 10px;
}

.blog-post h3 {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.blog-post h3::after {
    content: ""; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(45deg, #df5c65, #FFB6C1);
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Cormorant Garamond', serif;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: black;
    padding: 10px;
    text-align: left;
}

td {
    padding: 8px;
    border-bottom: 1px solid #120f0f;
}

form label, 
form select, 
form textarea,
form button {
    display: block;
    margin-top: 10px;
    margin-bottom:20px;
}

form button {
    background-color: #f8c1d1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #e59bad;
}

/* Contact Page Styles */
textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    margin-bottom: 10px;
}

/* About Page Styles */
img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px double #df5c65;
    padding: 5px;
    box-shadow: 5px 5px 15px rgba(104, 23, 203, 0.3);
    border-radius: 5px;
    transition: transform 0.2s ease;
}
